.hotelimg{
    height:380px;
    width:98%;
    margin: 10px auto;
    z-index: -1;
}
#description{
    margin:1% 4% 2% 4%;
}
#login{
    color: black;
    text-decoration: none;
    margin-right:2%;
}
#Detail{
    display:flex;
    border:1px solid black;
    margin:2%;
}
#img{
    width:75%;
    display:flex;
    justify-content: center;
    align-items:center;
}
#form{
    width:25%;
    border-left: 1px solid black;   
}
#formcontent{
    height:400px;
    width:100%;
   display:flex;
   flex-direction: column;
}
#formcontent>div>label{
   margin-left:5%;
}
#formcontent>div>input{
    margin-right:5%;
    width:60%;
}
#formcontent>div>button{
   margin:0px auto;
   padding:5px;
}
#formcontent>div{
    display:flex;
    justify-content: space-between;
    margin:auto 0%;
}
#description{
    font-family: cursive;
}

@media screen and (max-width:576px) {
    #Detail{
        flex-direction: column;
    } 
    #img{
        width:100%;
    }
    #form{
        width:100%;
        border-left: none;
    }
}
