body{
    width:100%;
    height:100%;
    margin:0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
#header{
    background-color: rosybrown;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0px;
    width:100%;
}
#footer{
    background-color: rosybrown;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:60px;
    width:100%;
    position: fixed;
    bottom:0px;
}
#logo{
    height:60px;
    width:60px;
    margin-left:1%;
}
#hotelimg{
    height:350px;
    width:500px;
    margin:auto;
}
#header{
    background-color: rosybrown;
}
#footer{
    background-color: rosybrown;
}
/* form{
    margin:0% 4% 1% 4%;
} */
#description{
    margin:1% 4% 2% 4%;
}
#login{
    color: black;
    text-decoration: none;
    margin-right:2%;
}
footer section{
    position:absolute;
    right:2%;
}
footer > a{
    text-decoration: none;
    color:black;
    position:absolute;
    left:2%;
}
footer>div{
    align-self:flex-end;
    font-size: 12px;
    position:relative;
    bottom:8px;
}
#spacer{
    width:100%;
    height:60px;
}
#Detail{
    display:flex;
    height:400px;
    border:1px solid black;
    margin:2%;
}
#img{
    width:75%;
    display:flex;
    justify-content: center;
    align-items:center;
}
#form{
    width:25%;
    border-left: 1px solid black;   
}
#formcontent{
    height:400px;
    width:100%;
   display:flex;
   flex-direction: column;
}
#formcontent>div>label{
   margin-left:5%;
}
#formcontent>div>input{
    margin-right:5%;
    width:60%;
}
#formcontent>div>button{
   margin:0px auto;
   padding:5px;
}
#formcontent>div{
    display:flex;
    justify-content: space-between;
    margin:auto 0%;
}
#description h5{
    font-family: cursive;
}
.contact{
    position:absolute;
    left:2%;
}
