body{
    width:100vw;
    height:100vh;
    margin:0%;
    background-color: #e0e0e0;
}
#container{
    width:100vw;
    height:100vh;
}
#logo{
    height:60px;
    width:60px;
}
#hotelimg{
    height:500px;
    width:500px;
    margin:2% 4% 0% 4%;
}
header{
    background-color: rosybrown;
}
footer{
    background-color: rosybrown;
}
form{
    margin:0% 4% 1% 4%;
}
#description{
    margin:1% 4% 2% 4%;
}