.hotelimg{
    height:150px;
    width:150px;
    padding:0%; 
    border-radius: 25%; 
    box-shadow: 10px 10px 10px grey;  
}
#divsearch{
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    height:380px;
    width:100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
}
.search{
    border:1px solid rgba(255,255,255,0);
    background-color: #f1f1f1;
    padding:10px;
    font-size: 16px;
    border-radius: 12px;
    width:25%;
    position:absolute;
    top:200px;
    order:1;
}
#divsearch>div{
    display: block;
    width:25%;
    top:246px;
    position: absolute;
}
.searchList{
    border:1px solid rgba(255,255,255,0);
    background-color: #f1f1f1;
    padding:10px;
    font-size: 16px;
    border-radius: 12px;
    width:100%;
    cursor: pointer;
}
.search:focus{
    outline:none;
}
#hotelImg{
    width:100vw;
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
}
#view{
    display:flex;
    justify-content: center;
    height:20vh;
}
#view>button{ 
    height:50px;
}
#hotelImg a{
    display: flex;
    justify-content: center;
    width: 150px;
    margin: 0% auto;
}
.number{
    position:absolute;
    visibility:hidden;
    background-color: rgba(0, 0, 0, 0.5);
    height:150px;
    width:150px;
    border-radius:25%;
    display:flex;
    justify-content: center;
    align-items:center;
    color:#f1f1f1;
}
.Hcontainer{
    margin-top:4%;
    margin-bottom:4%;
    padding:0px;
    width:25%; 
}
.Hcontainer>a:hover .number{
    visibility:visible;   
}
.hidden{
    display:none;
}

@media screen and (max-width:576px) {
    .Hcontainer{
        width: 100%;
    } 
    .number{
       height: 200px;
       width: 200px; 
    }
    #hotelImg a{
        width: 200px;
    }
    .hotelimg{
        height: 200px;
        width:200px;
    }
    .search, #divsearch>div{
        width:60%;
    }   
}

@media screen and (min-width:576px) and (max-width:768px){
    .Hcontainer{
        width: 50%;
    } 
    .number{
        height: 200px;
        width: 200px; 
     }
     #hotelImg a{
         width: 200px;
     }
     .hotelimg{
         height: 200px;
         width:200px;
     }
     .search, #divsearch>div{
        width:50%;
    }
}

