.hotelImg{
    height:250px;
    width:250px;
}
.divhotelImg{
    margin: 25px;
    background-color: lightgrey;
    width:40%;
    clear:left;
}
.form3{
    display:flex;
    justify-content: center;
    align-items: center;
}
#list > section{
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#list a{
    text-decoration:none;
    color:black;
    display:flex;
}
.discription{
    padding-left:2%;
}
.divhotelImg:hover{
    background-color:rosybrown;
}
#pills-tab{
    display: flex;
    justify-content: center;
}
#map{
    margin-left: 4%;
    margin-right: 4%;
}

@media screen and (max-width:576px) {
    #list a{
        flex-direction: column;
    } 
    .divhotelImg{
        width:90%;
    } 
    .hotelImg{
        width:100%;
    }
}

@media screen and (min-width:576px) and (max-width:768px) {
    .divhotelImg{
        width:90%;
    } 
}