body{
    width:100%;
    height:100%;
    margin:0%;
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
}
#logo{
    height:60px;
    width:60px;
    margin-left:1%;
}
#hotelImg{
    max-height:300px;
    max-width:270px;
}
#description{
    background-color: rgb(132, 136, 139);
    width:50%;
    margin:5% 0% 2%;
    display:flex;
}
#discontainer{
    display: flex;
    justify-content: center;
}
#payDetail{
    margin:2%;
    padding:1% 2%;
}
#header{
    background-color: rosybrown;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position:sticky;
    top:0px;
    width:100%;
}
#footer{
    background-color: rosybrown;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height:60px;
    width:100%;
    position: fixed;
    bottom:0px;
}
#login{
    color: black;
    text-decoration: none;
    margin-right:2%;
}
footer section{
    position:absolute;
    right:2%;
}
footer > a{
    text-decoration: none;
    color:black;
    position:absolute;
    left:2%;
}
footer>div{
    align-self:flex-end;
    font-size: 12px;
    position:relative;
    bottom:8px;
}
#spacer{
    width:100%;
    height:100px;
}
#pay{
    text-decoration: none;
    color:black;
}
#description div{
  padding:3%;
  display:flex;
  flex-direction: column;
  align-items: space-around;

}
#plan{
    display:flex;
    border:1px solid black;
    border-radius:5px;
    background-color: rosybrown;
    margin:0% 2%;
    justify-content: space-evenly;
}
#Cusdetail{
   display:flex;
   flex-direction: column;
}
#pbutton{
    display:flex;
    justify-content: center;
    align-items: center;
}
#body{
    display:flex;
    flex-direction: column;
}
b{
    font-family: cursive;
}
.contact{
    position:absolute;
    left:2%;
}